{
        "ecmaFeatures": {
                "jsx": true,
                "arrowFunctions": true,
                "es6": true
        },
        "env": {
                "mocha": true,
                "node": true
        }
}
